<div class="row">
  <div class="col-md-6 offset-md-3 col-xs-12 mt-5">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <form (ngSubmit)="changePassword(f)" #f="ngForm">
          <div class="mb-3">
            <label for="" class="form-label">Naujas slaptažodis:</label>
            <input
              type="password"
              class="form-control"
              ngModel
              name="password"
              required
              #password
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Pakartoti slaptažodi:</label>
            <input
              type="password"
              class="form-control"
              ngModel
              name="password1"
              required
              #password1
            />
          </div>
          <button
            type="submit"
            [disabled]="password != password1"
            class="btn btn-success"
          >
            Siusti
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
