<div class="card">
  <div class="card-header">Vasaros stovyklos vaikų dalyvaujančių sąrašas:</div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Vardas</th>
          <th>Pavarde</th>
          <th>Metai</th>
          <th>Lytis</th>
          <th>E-paštas</th>
          <th>Tel. nr.</th>
          <th>Klasė</th>
          <th *ngIf="user != null">Veiksmai:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registration of registrations">
          <td>{{ registration.name }}</td>
          <td>{{ registration.surname }}</td>
          <td>{{ registration.year }}</td>
          <td>{{ registration.gender }}</td>
          <td>{{ registration.email }}</td>
          <td>{{ registration.phone }}</td>
          <td>{{ registration.clas }}</td>
          <td *ngIf="user != null">
            <a
              [routerLink]="['/edit', registration.id]"
              class="btn btn-info me-3"
              >Redaguoti</a
            >
            <button class="btn btn-danger" (click)="openModal(registration)">
              Ištrinti
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal" tabindex="-1" [ngStyle]="{ display: display }">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Vaiko ištrinimas</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="onClose()"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Ar norite ištrinti vaiką {{ person.name }} {{ person.surname }} ?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-warning"
              data-bs-dismiss="modal"
              (click)="onClose()"
            >
              Atšaukti
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteRegistration(person.id)"
            >
              Ištrinti
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
